<!DOCTYPE html>
<html lang="en">
    
<style type="text/css">
td
{
    padding:0 5px 0 15px;
}

</style>

<head>
    <meta charset="UTF-8">
    <title>Mining History</title>
       <script src='static/Chart.min.js'></script>
</head>
<body align="center" style="background-color:lightgrey;">

<h1>Fairpool Mining History</h1>

<h4>Averages:</h4>
<div>Average Hash rate: {{ hash_average|round(0, 'ceil') }} </div>
<div>Average growth rate: {{ growth_rate[0]|round(4, 'ceil') }}</div>
<h4>Predictions:</h4>
<div>Predicted hourly rate: {{ growth_rate[1]|round(4, 'ceil') }}</div>
<div>Predicted daily rate: {{ growth_rate[2]|round(4, 'ceil') }}</div>
<div>Yesterdays Income: {{ yesterday_income }}</div>
<br><h4>Previous weeks income:</h4><br>
{% for row in weekly_income %}
Coins: {{ row|round(4, 'ceil') }}<br>
{% endfor %}


<h2>Miner History</h2>


<table border="1" align="center">
    <tr><td>Entry</td><td>Miner Name</td><td>Hash Rate</td><td>Coins</td><td>Time</td></tr>
{% for row in data %}
    
        <tr>
          <td> {{ row[0] }} </td>
          <td> {{ row[1] }} </td>
          <td> {{ row[2] }} </td>
          <td> {{ row[3]|round(4, 'ceil') }} </td>
          <td> {{ row[4][11:16] }} </td>
        </tr>

{% endfor %}
        </table>
</div>

<h2>Network History</h2>

<table border="1" align="center">
    <tr><td>Entry</td><td>Difficulty</td><td>Net Hash</td><td>Block</td><td>Time</td></tr>

{% for row in network %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4][11:16] }}</td>
    </tr>
{% endfor %}
    </table>
</div>
    </div>
</div>

        <div align="center""><embed type="image/svg+xml" src={{miner_graph_data|safe}} style='max-width:1000px'/> </div>
        <br>
        <div align="center"><embed type="image/svg+xml" src={{network_graph_data|safe}} style='max-width:1000px'/></div>
        

<br><div>Website built using flask. <br> Thanks to the flask team for their great tool and awesome documentation. </div>

</body>
</html>